# ESP32-S3 Target
CONFIG_IDF_TARGET="esp32s3"
# ESP PSRAM
#
CONFIG_SPIRAM=y
#
# SPI RAM config
#
# CONFIG_SPIRAM_MODE_QUAD is not set
CONFIG_SPIRAM_MODE_OCT=y
# default:
CONFIG_SPIRAM_TYPE_AUTO=y
# flash
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y